/* src/styles.css */
body {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.vault-console {
  position: absolute;
  bottom: 20px;
  background-color: #444;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.numbers button,
.directions button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.numbers button:hover,
.directions button:hover {
  background-color: #777;
}

